<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX Introduction</title>
</head>
<body>
    <h1>Hello, HTMX!</h1>
    <button hx-get="/clicked.html"
        hx-trigger="click"
        hx-swap="innerHTML">
        Click me!
    </button>
    
    <button hx-get="/posts.html"
        hx-trigger="click"
        hx-target="#content"
        hx-swap="innerHTML">
        Load Posts
    </button>
    <button hx-get="/pictures.html"
        hx-trigger="click"
        hx-target="#content"
        hx-swap="innerHTML">
        Load Pictures
    </button>
    <button hx-get="/about.html"
        hx-trigger="click"
        hx-target="#content"
        hx-swap="innerHTML">
        Load About
    </button>
    <button hx-get="https://api.chucknorris.io/jokes/random"
        hx-trigger="click"
        hx-target="#content"
        hx-swap="innerHTML">
        Random Chuck Norris Joke
    </button>
    
    <div id="content">
        No content loaded
    </div>
    
    <hr>

    <button hx-get="https://hub.dummyapis.com/delay?seconds=3"
        hx-trigger="click">
        Click me!
        <img width="60px" height="20" class="htmx-indicator" src="/svg-loaders/three-dots.svg">
    </button>
    <div id="disappear" style="display: none;"></div>

    <hr>

    <button id="request-button"
        hx-get="https://hub.dummyapis.com/delay?seconds=5"
        hx-target="#long-request-content"
        hx-swap="innerHTML"
        hx-indicator="#long-request-indicator">
        Issue long request
    </button>
    <button onclick="htmx.trigger('#request-button', 'htmx:abort')">
        Abort request
    </button>
    <div id="long-request-content"></div>
    <img id="long-request-indicator" class="htmx-indicator" src="/svg-loaders/ball-triangle.svg">

    <!-- HTMX Script -->
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous">
    </script>
</body>
</html>
