<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX Introduction</title>
</head>
<body>
    <h1>Hello, HTMX!</h1>
    <button hx-get="/clicked.html"
        hx-trigger="click"
        hx-swap="innerHTML">
        Click me!
    </button>
    
    <button hx-get="/posts.html"
        hx-trigger="click"
        hx-target="#content"
        hx-swap="innerHTML">
        Load Posts
    </button>
    <button hx-get="/pictures.html"
        hx-trigger="click"
        hx-target="#content"
        hx-swap="innerHTML">
        Load Pictures
    </button>
    <button hx-get="/about.html"
        hx-trigger="click"
        hx-target="#content"
        hx-swap="innerHTML">
        Load About
    </button>
    <button hx-get="https://api.chucknorris.io/jokes/random"
        hx-trigger="click"
        hx-target="#content"
        hx-swap="innerHTML">
        Random Chuck Norris Joke
    </button>
    
    <div id="content">
        No content loaded
    </div>
    
    <hr>

    <button hx-get="lorem.html"></button>

    <!-- HTMX Script -->
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous">
    </script>
</body>
</html>
